/* rscodeio Package Theme for pkgdown Sites */
/* (https://github.com/murphymv/rscodeio, forked from: https://github.com/anthonynorth/rscodeio)

/* Menus, Links, Body, Code Chunks */

a code,
a:focus,
a:hover,
code a,
pre a,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: rgb(12, 227, 172) !important;
}

body,
footer,
.dropdown-menu,
.dropdown-menu > li > a,
.dropdown-menu > .active > a,
.label-default,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  /* background-color: rgb(30, 30, 30); */
  background-color: rgb(51, 51, 51);
  color: rgb(204, 204, 204);
}

code,
pre {
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(62, 64, 66);
  color: rgb(204, 204, 204);
  font-family: "Fira Code Light", Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-feature-settings: "ss01", "ss02", "ss03", "ss05", "ss06", "ss07";
}

pre code {
  background-color: transparent;
  color: rgb(204, 204, 204);
  border: none;
}

/* pre.examples,
pre.sourceCode,
pre.usage {
  color: rgb(156, 220, 254);
} */

pre:not([class]) {
  background-color: rgb(30, 30, 30);
  color: rgb(106, 153, 85);
}

.dropdown-menu > li > a:hover {
  /* background-color: rgb(9, 71, 113); */
  background: none;
}

.navbar-default,
.navbar-default .navbar-link,
.navbar-default .navbar-nav > li > a {
  /* background-color: rgb(51, 51, 51); */
  background-color: rgb(34, 34, 34);
  color: rgb(204, 204, 204);
}

/* Code Syntax Highlighting */

/* rscodeio highlighting (can't map yet: type-declaration, regex)
:root {
    --type-declaration: rgb(78, 201, 176);
    --language-constant: rgb(86, 156, 214);
    --numeric-constant: rgb(181, 206, 168);
    --string: rgb(206, 145, 120);
    --regex: rgb(209, 105, 105);
    --keyword: rgb(197, 134, 192);
    --function-declaration: rgb(220, 220, 170);
    --variable: rgb(156, 220, 254);
    --comment: rgb(106, 153, 85);
    --heading: var(--language-constant);
    --inline-code: var(--string);
} */

/* Attribute, Variable */
.at,
.va {
  color: rgb(156, 220, 254);
}
/* BuiltIn, Function */
.bu,
.fu {
  color: rgb(220, 220, 170);
}
/* ControlFlow, Import, Keyword */
.cf,
.im,
.kw {
  color: rgb(197, 134, 192);
}
/* Constant, SpecialChar */
.cn,
.sc {
  color: rgb(86, 156, 214);
}
/* Comment, Message */
.co,
.message {
  color: rgb(106, 153, 85);
  font-weight: normal;
}
/* DecVal, Float */
.dv,
.fl {
  color: rgb(181, 206, 168);
}
/* Operator, Other */
.op,
.ot {
  color: rgb(204, 204, 204);
}
/* String */
.st {
  color: rgb(206, 145, 120);
}
